---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404: Página no encontrada">
  <main
    class="flex flex-col p-4 items-center h-screen justify-center lg:justify-start lg:h-[calc(100vh-88px)] max-w-2xl mx-auto"
  >
    <h1
      class="text-3xl lg:text-5xl text-center font-bold lg:mt-15 mb-8 text-gray-600 dark:text-gray-200"
    >
      <span>Mmm..</span>
      <br />
      ¿Qué pasó aquí?
    </h1>
    <a href="/">
      <img
        src="/public/assets/not-found/confused.webp"
        alt="Avatar Confused"
        class="w-64 h-64 lg:w-96 lg:h-96 border rounded-full bg-linear-to-br from-gray-400 to-gray-500 dark:from-gray-800 dark:to-gray-900 animate-wiggle"
      />
    </a>
    <p
      class="text-md text-gray-500 dark:text-gray-200 lg:text-lg text-center mt-8"
    >
      Parece que me perdí en algún lugar del código... o tal vez en el universo.
      Pero no te preocupes, volvamos a la normalidad. <span class="font-bold"
        >¡Haz clic en mí y sigamos navegando!</span
      >
    </p>
  </main>
</Layout>
