---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contacto - JDLSantos">
  <section class="max-w-lg px-6 py-12 mx-auto space-y-6">
    <h1
      class="text-4xl font-semibold text-center text-gray-900 dark:text-white"
    >
      Contáctame
    </h1>
    <p class="text-center text-gray-600 dark:text-gray-400">
      Estoy disponible para proyectos y colaboraciones. ¡Déjame tu mensaje!
    </p>

    <form class="space-y-5">
      <!-- Nombre -->
      <div>
        <label for="name" class="sr-only">Nombre</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="Tu nombre"
          class="w-full p-3 text-gray-900 transition-all duration-300 bg-gray-100 border border-gray-300 rounded-md dark:bg-gray-800 dark:text-white dark:border-gray-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
      </div>

      <!-- Correo -->
      <div>
        <label for="email" class="sr-only">Correo</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          placeholder="Tu correo"
          class="w-full p-3 text-gray-900 transition-all duration-300 bg-gray-100 border border-gray-300 rounded-md dark:bg-gray-800 dark:text-white dark:border-gray-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        />
      </div>

      <!-- Mensaje -->
      <div>
        <label for="message" class="sr-only">Mensaje</label>
        <textarea
          id="message"
          name="message"
          required
          placeholder="Escribe tu mensaje..."
          class="w-full p-3 text-gray-900 transition-all duration-300 bg-gray-100 border border-gray-300 rounded-md resize-none h-28 dark:bg-gray-800 dark:text-white dark:border-gray-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
        ></textarea>
      </div>

      <!-- Botón Enviar -->
      <button
        type="submit"
        class="w-full py-3 text-lg font-medium text-white transition-all duration-300 bg-blue-600 rounded-md dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-600 focus:ring-2 focus:ring-blue-500"
      >
        Enviar
      </button>
    </form>
  </section>
</Layout>
