---
import Layout from "@layouts/Layout.astro";
import Welcome from "@components/Welcome.astro";
import BentoSection from "@components/BentoSection.astro";
---

<Layout title="Bienvenido a mi portfolio">
  <main>
	<Welcome />
  <BentoSection />
  </main>
</Layout>

