---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  subtitle?: string;
  icon?: string;
  iconBg?: string;
}

const {
  title,
  subtitle,
  icon = "mdi:help-circle",
  iconBg = "from-blue-500 to-blue-600",
} = Astro.props;
---

<div class="flex items-center gap-4 mb-8">
  <div class={`p-2 md:p-2.5 bg-gradient-to-br ${iconBg} rounded-xl shadow-lg`}>
    <Icon name={icon} class="w-5 h-5 text-white" />
  </div>
  <div>
    <h1
      class="text-xl md:text-xl lg:text-2xl font-bold text-gray-800 dark:text-white"
    >
      {title}
    </h1>
    {
      subtitle && (
        <p class="text-sm md:text-base text-gray-600 dark:text-gray-400">
          {subtitle}
        </p>
      )
    }
  </div>
</div>
